body {
	background: black;
	font-family: Comic Sans MS, Comic Sans, cursive;
	max-width: 700px;
	margin: auto;
}



#title, .subtitle, .post_title {
	color: red;
}

#title {
	text-align: center;
}
.subtitle {
	margin: auto;
}

.post_title {
	font-size: 90px;
	font-style: italic;
	margin: 0px;
	margin-bottom: 15px;
}

p {
	color: rgb(42, 255, 113);
	text-align: justify;
}

.post {
	background: rgb(26, 8, 8);
	padding: 15px;
	border: 3px solid rgb(124, 124, 124);
	margin-bottom: 15px;
	border-radius: 0px 30px 80px 10px;
}

.post_content {
	margin: 0px;
	margin-bottom: 15PX;
}

.post_image {
	margin-left: 80px;
	max-width: 100%;
}

.contact {
	font-family: Geneva, Verdana, sans-serif;
	text-decoration: overline;
	margin-bottom: 90px;
	width: 400px;
	height: 90px;
	border: 3px dotted;
	border-radius: 0% 0% 80% 0%;
	border-color: rgb(230, 27, 1);
}

ul {
	margin: 0;
	list-style-type: "\01F577\0FE0F"
}